.dashboard-container {
    padding: 20px;
}

.chart-container {
    width: 80%;
    margin: 0 auto 40px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container .apexcharts-canvas {
    max-height: 100%;
}
